*.S
*.a
*.asm.s
*.d
*.gcda
*.gcno
*.o
*~
.cproject
.project
.settings
/*-*.mk
/*.asm
/*.doxy
/*.ivf
/*.ivf.md5
/.bins
/.deps
/.docs
/.install-*
/.libs
/Makefile
/config.log
/config.mk
/docs/
/doxyfile
/examples/*.dox
/examples/decode_to_md5
/examples/decode_with_drops
/examples/decode_with_partial_drops
/examples/example_xma
/examples/lossless_encoder
/examples/postproc
/examples/resize_util
/examples/set_maps
/examples/simple_decoder
/examples/simple_encoder
/examples/twopass_encoder
/examples/aom_cx_set_ref
/examples/av1_spatial_scalable_encoder
/examples/aom_temporal_scalable_patterns
/examples/aom_temporal_svc_encoder
/ivfdec
/ivfdec.dox
/ivfenc
/ivfenc.dox
/libaom.so*
/libaom.ver
/samples.dox
/test_intra_pred_speed
/test_libaom
/aom_api1_migration.dox
/av1_rtcd.h
/aom.pc
/aom_config.c
/aom_config.h
/aom_dsp_rtcd.h
/aom_scale_rtcd.h
/aom_version.h
/aomdec
/aomdec.dox
/aomenc
/aomenc.dox
TAGS
