*~
*.a
*.d
*.o
*-old
*-new
*.mk
*.asm
TAGS
.bins
.libs
.deps
/.cflags-new
/.cflags-old
/.docs
/.install-*
/Makefile
/config.err
/config.mk
/decode_to_md5
/decode_to_md5.c
/decode_to_md5.dox
/decode_with_drops
/decode_with_drops.c
/decode_with_drops.dox
/docs-generic-gnu.mk
/docs/
/doxyfile
/error_resilient
/error_resilient.c
/error_resilient.dox
/examples-generic-gnu.mk
/examples.doxy
/force_keyframe
/force_keyframe.c
/force_keyframe.dox
/ivfdec
/ivfdec.dox
/ivfenc
/ivfenc.dox
/libs-generic-gnu.mk
/libs.doxy
/postproc
/postproc.c
/postproc.dox
/samples.dox
/simple_decoder
/simple_decoder.c
/simple_decoder.dox
/simple_encoder
/simple_encoder.c
/simple_encoder.dox
/twopass_encoder
/twopass_encoder.c
/twopass_encoder.dox
/vp8_api1_migration.dox
/vp8_scalable_patterns
/vp8_scalable_patterns.c
/vp8_scalable_patterns.dox
/vp8_set_maps
/vp8_set_maps.c
/vp8_set_maps.dox
/vp8cx_set_ref
/vp8cx_set_ref.c
/vp8cx_set_ref.dox
/vpx_config.c
/vpx_config.h
/vpx_version.h
